@font-face {
    font-family: "custom";
    src: url("./assets/font/BrownMedium\ Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-family: custom, sans-serif;
    background-color: #44201f;
    overflow-x: hidden;
}

.logo {
    width: 130px;
    height: auto;
}

header {
    padding: 15px;
}

.title {
    margin-top: 18px;
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.title span {
    color: #f6c31b;
}

.app {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    max-width: 375px;
    margin: auto;
}

canvas {
    margin-top: -68px;
    margin-left: -200px;
    width: 600px;
    z-index: 555;
    font-size: 200px !important;
    font-family: custom, sans-serif !important;
}

.arrow {
    position: absolute;
    top: 39.5%;
    margin-right: -20px;
    z-index: 33;
    right: 0;
}

.prize1 {
    width: 75%;
    position: absolute;
    top: 0%;
    right: -36%;
    z-index: -1;
}

.prize2 {
    width: 66%;
    position: absolute;
    right: -10%;
    z-index: 4;
    bottom: 0;
}

#spin {
    color: #FFFFFF;
    background-color: #f6c31b;
    width: 90%;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 55px;
    z-index: 4;
    margin: auto;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 8888;
    left: -68px;
}

.line div {
    border: 20px solid white;
    border-radius: 100%;
    width: 101%;
    height: 101%;
    margin-top: -22px;
    margin-left: -22px;
}

.line {
    border: 26px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    margin-top: -24px;
    margin-left: -183px;
    width: 493px;
    height: 80%;
    z-index: 1;
}

.bounce {
    animation: bounce 0.9s;
}

@keyframes bounce {
    0% {
        transform: rotate(345deg)
    }

    50% {
        transform: rotate(330deg)
    }

    51% {
        transform: rotate(360deg)
    }

    75% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}